<section class="row imagen-central">
  <div class="col-xs-12">
    <img src="" alt="">
  </div>
</section>

<section class="row galeria">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li>
        <a href="#">¿Buscas un servicio?</a>
        <a href="#">/ Servicios </a>
        <span>/ Masajes descontracturantes</span>
      </li>
    </ul>
    <h2>Perfil</h2>
  </div>
  <div class="col-md-2">
    <aside class="foto-detalle-usuario">
      <div class="foto-evaluacion">
        <img src="" class="rounded" alt="">
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>29 años</p>
        </div>
        <div class="col-md-12">
          <p> Chileno / Soltero</p>
        </div>
        <div class="col-md-12">
          <p>Vive en Santiago de Chile</p>
        </div>
        <div class="col-md-12">
          <p>Idiomas: Español, Inglés</p>
        </div>
      </div>
    </aside>
  </div>
  <div class="col-md-10">
    <article class="evaluacion-box row no-row">
      <div class="col-md-9">
        <h5>
          <span class="nombre-evaluacion">{{proveedor.name}} {{proveedor.surname}}</span>
        </h5>
        <em>Masajes descontracturantes</em>
        <p>5.000 pesos chilenos / hora</p>

        <p class="contenido-evaluacion">
          Me encanta la vida sana, el comer rico y dormir como niño, hago masajes desde los 15 años y ha sido un gran aprendizaje,
          conozco muchas formas de relajación mediante el uso de mis manos
        </p>
      </div>
      <div class="col-md-3">
        <h3>Valoración Indahouser</h3>
        <div *ngIf="proveedor.valoraciones?.length > 0">
          <p>{{proveedor.valoracionPromedio | number: '1.1-1'}}</p>
          <div class="d-flex">
            <div *ngFor="let nota of cantNotas; let i = index">
              <span *ngIf="i < proveedor.valoracionPromedio" class="glyphicon glyphicon-star nota"></span>
              <span *ngIf="i > proveedor.valoracionPromedio" class="glyphicon glyphicon-star-empty nota"></span>
            </div>
          </div>
          <a href="#!" data-toggle="modal" data-target="#evaluaciones">{{proveedor.valoraciones.length}} valoraciones</a>
        </div>
        <div *ngIf="proveedor.valoraciones.length == 0">
          <p>No existen valoraciones</p>
        </div>
      </div>
      <div class="pull-right">
        <!--<button class="btn btn-primary">Solicitar</button>-->
        <button class="btn btn-secondary" data-toggle="modal" data-target="#mensaje">Enviar mensaje</button>
        <button class="btn btn-primary" data-toggle="modal" data-target="#evaluacion">Valorar</button>
      </div>
    </article>
  </div>
</section>
<section *ngIf="proveedor.valoraciones.length > 0">
  <!-- Modal -->
  <div class="modal fade" id="evaluaciones" tabindex="-1" role="dialog" aria-labelledby="evaluacionesLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="evaluacionesLabel">Valoraciones {{proveedor.name}} {{proveedor.surname}}</h4>
        </div>
        <div class="modal-body">
          <div *ngFor="let valoracion of proveedor.valoraciones" class="w-100 d-flex evaluaciones p-3 mb-3">
            <div class="d-flex flex-column w-75 pr-3">
              <p class="m-0">
                <strong>Usuario :</strong> {{valoracion.user.name}} {{valoracion.user.surname}}</p>
              <p class="m-0">
                <strong>Comentario:</strong> {{valoracion.comentario}}</p>
            </div>
            <div class="w-25 p-2 d-flex flex-column justify-content-center bg-warning align-items-center rounded">
              <h5 class="m-0">Calificación:</h5>
              <div class="d-flex align-items-center">
                <div *ngFor="let nota of cantNotas; let i = index">
                  <span *ngIf="i < valoracion.numEvaluacion" class="glyphicon glyphicon-star nota"></span>
                  <span *ngIf="i > valoracion.numEvaluacion" class="glyphicon glyphicon-star-empty nota"></span>
                </div>
                <h4 class="m-0 pl-3 mt-2">{{valoracion.numEvaluacion}}</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-evaluar [proveedor]="proveedor"></app-evaluar>
