<!-- Modal -->
<a href="#!" data-toggle="modal" data-target="#evaluaciones">Abrir Modal</a>
<div class="" id="evaluaciones" tabindex="-1" role="dialog" aria-labelledby="evaluacionesLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                <h4 class="modal-title" id="evaluacionesLabel">Evaluaciones (IDService): 5a6d618af794da0b54c52dff</h4>
            </div>
            <div class="modal-body">
                <div class="" *ngFor="let valoracion of valoraciones">
                    <div class="w-100 d-flex evaluaciones p-3 mb-3">
                        <div class="d-flex flex-column w-75 pr-3">
                            <p class="m-0"><strong>Usuario (ID):</strong> {{valoracion.idUsuario}}</p>
                            <p class="m-0"><strong>Comentario:</strong> {{valoracion.comentario}}</p>
                        </div>
                        <div class="w-25 p-2 d-flex flex-column justify-content-center bg-warning align-items-center rounded">
                            <h5 class="m-0">Calificación:</h5>
                            <div class="d-flex align-items-center">

                                <!-- <% var notas = valoracion.numEvaluacion;
                                  for(i=1; i<=7; i++){
                                      if(i<=notas){ %> -->
                                <!-- <span class="glyphicon glyphicon-star nota"></span> -->
                                <!-- <%    }else{ %> -->
                                <span class="glyphicon glyphicon-star-empty nota"></span>
                                <!-- <%  }
                                  };
                              %> -->
                                <h4 class="m-0 pl-3 mt-2">{{valoracion.numEvaluacion}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/servicios/evaluaciones.js"></script>