<!-- Modal -->
<div class="modal fade" id="evaluacion" tabindex="-1" role="dialog" aria-labelledby="evaluacionLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                <h4 class="modal-title" id="evaluacionLabel">Evaluar (idServicio): 5a6d618af794da0b54c52dff</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Nota (1/7):</label>
                            <div id="notas">
                                <span class="glyphicon glyphicon-star cursor-pointer nota" data-star="1"></span>
                                <span class="glyphicon glyphicon-star-empty cursor-pointer nota" data-star="2"></span>
                                <span class="glyphicon glyphicon-star-empty cursor-pointer nota" data-star="3"></span>
                                <span class="glyphicon glyphicon-star-empty cursor-pointer nota" data-star="4"></span>
                                <span class="glyphicon glyphicon-star-empty cursor-pointer nota" data-star="5"></span>
                                <span class="glyphicon glyphicon-star-empty cursor-pointer nota" data-star="6"></span>
                                <span class="glyphicon glyphicon-star-empty cursor-pointer nota" data-star="7"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textoevaluacion">Comentario:</label>
                            <textarea name="" id="textoevaluacion" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="valorar(this)">Enviar</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../js/servicios/evaluar.js"></script>