<div *ngIf="category" class="category-box">
    <div id="category-head-card">
        <div class="image">
            <img src="{{ url + 'get-image-category/'+ category.image }}" alt="" style="width:100px;" *ngIf="category.image && category.image !== 'null'"> 
        </div>
        <div class="data">
            <h1>{{category.name}}</h1>
            <p class="description">{{category.description}}</p>

            <a *ngIf="identity && identity.role == 'ROLE_ADMIN'" [routerLink]="['/crear-servicio', category._id]" class="btn btn-default">
                Añadir Servicio
            </a>
        </div>
    </div>
    <div id="gallery-services" *ngIf="services">
        <!--Listar los servicios asociados a la categoria-->
        <ul class="services-list">
            <li *ngFor="let service of services" class="col-lg-4 service-item">
                <div class="service-image">
                    <img src="{{url + 'get-image-service/' + service.image}}" alt="">
                </div>
                <div class="service-name">
                    <p>
                        <a [routerLink]="['/servicio', service._id]">
                            {{service.title}}
                        </a>
                    </p>
                    <p>
                        <a [routerLink]="['/categoria', service.category._id]">
                            {{service.category.name}}
                        </a>
                    </p>
                    <div class="buttons" *ngIf="identity && identity.role == 'ROLE_ADMIN'">
                        <a [routerLink]="['/editar-servicio', service._id]" class="btn btn-warning">Editar</a>
                        <a (click)="onDeleteConfirm(service._id)" class="btn btn-danger">Borrar</a>
                    </div>
                    <div class="confirm" *ngIf="confirmado == service._id">
                        <a (click)="onDeleteService(service._id)" class="btn btn-danger">Sí, Borrar</a>
                        <a (click)="onCancelService()" class="btn btn-default">Cancelar</a>
                    </div>
                </div>
          
            </li>
        </ul>
    </div>
</div>