<div class="" *ngIf="identity && identity.role == 'ROLE_ADMIN'">
<h1>{{titulo}}</h1>
<div *ngIf="alertMessage">
    <div class="alert alert-info">
        {{alertMessage}}
    </div>
</div>
<form #formCategory="ngForm" (ngSubmit)="onSubmit()">
    <div><label>Nombre</label>
        <input type="text" #name="ngModel" name="name" [(ngModel)]="category.name" required>
        <div *ngIf="!name.valid && name.touched">
            <p>El nombre es obligatorio</p>
        </div>
    </div>
    <div>
        <label>Descripción</label>
        <textarea #description="ngModel" name="description" [(ngModel)]="category.description" required></textarea>
        <div *ngIf="!description.valid && description.touched">
            <p>La descripción es obligatorio</p>
        </div>
    </div>
    <div *ngIf="is_edit">
        <div class="category_image_for_edit" *ngIf="category.image && category.image != 'null'">
            <img src="{{url + 'get-image-category/' + category.image}}">
        </div>
        <label>Sube la imagen de categoría</label>
        <input type="file" placeholder="Subir imagen..." (change)="fileChangeEvent($event)">
    </div>
    <input type="submit" value="{{titulo}}" [disabled]="!formCategory.form.valid">
</form>
</div>
<div class="" *ngIf="!identity || identity.role != 'ROLE_ADMIN'">
    <h1>No tienes acceso a esta sección</h1>
</div>