<div *ngIf="identity">
    <div class="gray-background">
        <ul>
            <li><a class="submenu" id="datos-link" [routerLink]="['/mis-datos']">Datos personales</a></li>
            <li><a class="submenu" id="info-link" [routerLink]="['/informacion-perfil']">Información de perfil</a></li>
            <!--<li><a class="submenu" id="foto-link" [routerLink]="['/imagen-perfil']">Imagen de perfil</a></li>-->
            <li><a class="submenu" id="evaluaciones-link" [routerLink]="['/evaluaciones']">Evaluaciones</a></li>
        </ul>
    </div>
</div>