<div *ngIf="!identity" class="container">
    <nav class="row">
        <div class="col-xs-12">
            <div class="pull-left">
                <img src="assets/img/marca-indahouse.png" alt="indahouse logo"><span><em> | Servicios independientes a domicilio</em></span>
            </div>
    
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="index">¿Buscas un servicio?</a></li>
                <li role="presentation"><a href="ofrece-tus-servicios">Ofrece tus servicios</a></li>
                <li role="presentation"><a href="como-funciona">¿Cómo funciona?</a></li>
                <li role="presentation"><a href="#" data-toggle="modal" data-target="#ingresarModal">Inicia sesión</a></li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>

<!-- Modal -->
<div class="modal fade" id="ingresarModal" tabindex="-1" role="dialog" aria-labelledby="ingresarModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ingresarModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <!--<a href="/inicio-sesion/index.php" class="btn btn-primary">Ingresar</a>-->
               
  <h3>Logeate</h3>
  <form action="" #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <label for="email">Email:</label>
    <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required>
    <div *ngIf="!email.valid && email.touched">El email es requerido</div>
    <label for="">Password:</label>
    <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control" required>
    <div *ngIf="!password.valid && password.touched">El password es requerido</div>
    <div *ngIf="errorMessage">
        <div class="alert alert-danger">
            {{errorMessage}}
        </div>
    </div>
    <input type="submit" value="Login" class="btn btn-primary">
  </form>
  

  <h3>Regístrate</h3>
  <form action="" #signupForm="ngForm" (ngSubmit)="onSubmit()">
    <label for="">Nombre:</label>
    <input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="user.nombre" class="form-control" required>
    <div *ngIf="!nombre.valid && nombre.touched">El nombre es requerido</div>
    <label for="">Apellido:</label>
    <input type="text" class="form-control" required>

    <label for="">Email:</label>
    <input type="email" class="form-control" required>

    <label for="">Contraseña:</label>
    <input type="passoword" class="form-control" required>

    <input type="submit" value="Registrar" class="btn btn-primary">
  </form>

            </div>
           
            <!--<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>-->
        </div>
    </div>
</div>
<div class="container" *ngIf="identity">
    <!-- aqui va el menu logeado-->
    <router-outlet></router-outlet>
    <logged-nav></logged-nav>
 </div>
 