<div *ngIf="identity"> 
   <div *ngIf="alertMessage">
        <div class="alert alert-info">
            {{alertMessage}}
        </div>
    </div>
    <aside class="col-md-3">
       <configurar-perfil-menu></configurar-perfil-menu>
    </aside>
    <div class="col-md-9 caja-form activo" id="datos-personales">
        <h1>{{titulo}}</h1>
        <form #userUpdateForm="ngForm" (ngSubmit)="onSubmit()">
          
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="form-control texto" id="nombre" placeholder="Ingresa nombre">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="apaterno">Apellido Paterno</label>
                        <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname" class="form-control texto" id="apaterno" placeholder="Ingresa apellido paterno">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="amaterno">Apellido materno</label>
                        <input type="text" #mlastname="ngModel" name="mlastname" [(ngModel)]="user.mlastname" class="form-control texto" id="amaterno" placeholder="Ingresa apellido materno">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="sexo">Sexo</label>
                        <select class="form-control" #sexo="ngModel" name="sexo" [(ngModel)]="user.sexo" id="sexo" placeholder="Ingresa">
                            <option value="masculino">masculino</option>
                            <option value="femenino">femenino</option>
                            <option value="Otro">otro</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="fnacimiento">Fecha de nacimiento</label>
                        <input #bday="ngModel" name="bday" [(ngModel)]="user.bday" type="text" class="form-control fecha" id="fnacimiento" placeholder="DD/MM/AAAA">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">Dirección de correo electrónico</label>
                        <input #email="ngModel" name="email" [(ngModel)]="user.email" type="email" class="form-control" id="email" placeholder="tuemail@ejemplo.com">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ncelular">Celular de contacto</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="ncelular">+569</span>
                            <input type="text" #mobile="ngModel" name="mobile" [(ngModel)]="user.mobile" class="form-control fono" placeholder="9-00000000" aria-describedby="ncelular">
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-6">
                <div class="form-group">
                    <label for="idioma">Idioma</label>
                    <select class="form-control" placeholder="Ingresa" aria-describedby="idioma">
                        <option value="es">Español</option>
                        <option value="in">Inglés</option>
                        <option value="cr">Creol</option>
                        <option value="fr">Francés</option>
                        <option value="it">Italiano</option>
                        <option value="ch">Chino mandarín</option>
                    </select>
                </div>
            </div>-->
            <div class="row">
                <div class="col-xs-12">    
                    <h4>¿Tienes estudios técnico / universitario?</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">    
                    <input type="radio" id="sin-estudio" value="sin estudio" #estudios="ngModel" name="estudios" [(ngModel)]="user.estudios"><label for="sin-estudio">Sin estudio</label>
                </div>
                <div class="col-md-3">    
                    <input type="radio" id="estudiante" value="estudiante" #estudios="ngModel" name="estudios" [(ngModel)]="user.estudios"><label for="estudiante">Estudiante</label>
                </div>
                <div class="col-md-3">    
                    <input type="radio" id="egresado" value="egresado" #estudios="ngModel" name="estudios" [(ngModel)]="user.estudios"><label for="egresado">Egresado</label>
                </div>
                <div class="col-md-3">    
                    <input type="radio" id="titulado" value="titulado" #estudios="ngModel" name="estudios" [(ngModel)]="user.estudios"><label for="sin-estudio">Titulado</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">    
                    <h4>Dirección de residencia</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="region">Región</label>
                        <select class="form-control" id="region" #region="ngModel" name="region" [(ngModel)]="user.region">
                            <option value="met">R.Metropolitana</option>
                            <option value="tar">Tarapacá</option>
                            <option value="ant">Antofagasta</option>
                            <option value="ata">Atacama</option>
                            <option value="coq">Coquimbo</option>
                            <option value="val">Valparaíso</option>
                            <option value="ohi">Libertador General Bernardo O'Higgins</option>
                            <option value="mau">Maule</option>
                            <option value="bio">Bío Bío</option>
                            <option value="ara">Araucanía</option>
                            <option value="lag">Los Lagos</option>
                            <option value="ais">Aisén del General Carlos Ibáñez del Campo</option>
                            <option value="mag">Magallanes y de la Antártica Chilena</option>
                            <option value="rio">Los Ríos</option>
                            <option value="ari">Arica y Parinacota</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cuidad">Ciudad</label>
                        <select class="form-control" id="ciudad" #cuidad="ngModel" name="cuidad" [(ngModel)]="user.cuidad">
                            <option value="santiago">santiago</option>
                            <option value="molina">molina</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="calle">Avenida / pasaje</label>
                        <input type="text" #avdireccion="ngModel" name="avdireccion" [(ngModel)]="user.avdireccion" class="form-control texto" placeholder="Av. Tuavenida / pje. Tupasaje" aria-describedby="calle">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="ndireccion">N°</label>
                        <input type="text" #ndireccion="ngModel" name="ndireccion" [(ngModel)]="user.ndireccion" class="form-control numero" id="ndireccion" placeholder="N° avenida o pasaje">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="ndepto">Depto.</label>
                        <input type="text" #deptodireccion="ngModel" name="deptodireccion" [(ngModel)]="user.deptodireccion" class="form-control ndepto" id="ndepto" placeholder="9999-B ">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs 12">
                    <input type="submit" value="Guardar" class="pull-right btn btn-primary"/>
                </div>
            </div>
        </form>
    </div>
</div>
